.register_body{
    height: 100vh;
    background: url('../../assets/image.jpg') no-repeat;
    background-size: cover;
}
.register_sec_head{
    font-size: .7em;
    position: relative;
    bottom: 15px;
    left: 9.3em;
}
.register_username input, .register_password input, .register_email input, .register_c_password input { 
    border: 1px solid rgb(172, 164, 164);
    padding-left: 15px;
    width: 17em;
}
.register_username input::selection, .register_password input::selection, .register_c_password input::selection, .register_email input::selection{
    background-color: rgb(213, 103, 103);
}

a{
    text-decoration: none;
}
